/**************
 Utility 
***************/
:root {
  --t--text-alt-color: var(--tertiary);
}

.t--bg--gray-light {
  background-color: var(--bg-light-gray);
}
.t--bg--gray-medium {
  background-color: var(--bg-medium-gray);
}
.t--bg--gray {
  background-color: var(--bg-gray);
}
.t--bg--gray-dark {
  background-color: var(--bg-dark-gray);
}

.t--bg--black {
  background-color: var(--bg-black);
}

.t--bg--primary {
  background-color: var(--primary);
}

.t--bg--secondary {
  background-color: var(--secondary);
}

.t--bg--tertiary {
  background-color: var(--tertiary);
}


// Fonts

.bricks-type-lead {
  font-weight: 600;
}

.bsd-l-text h1,
.bsd-l-text h2,
.bsd-l-text h3,
.bsd-l-text h4,
.bsd-l-text h5,
.bsd-l-text h6,
.bsd-l-text p,
.bsd-l-text li,
.bsd-l-text span,
.bsd-l-text cite {
  color: #ffffff;
}

.t-light-text {
  color: #ffffff;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  span,
  cite {
    color: #ffffff;
  }
}

.t--text--light {
  color: #ffffff;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul li,
  ul li a,
  span,
  a {
    color: #ffffff;
  }
}

.t-icons__light {
  i {
    color: #fff;
  }
}

.t--text--alt-color {
  color: var(--t--text-alt-color);

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul li,
  ul li a,
  span,
  a {
    color: var(--t--text-alt-color);
  }
}

.reset-blockquote {
  padding: 0;
  border-left: 0;
  margin: 0;
}

.img-fhw {
  height: 100% !important; // Override <figure> tag class
  width: 100% !important;

  &.img-fhw__ &.img-fhw__align-top {
    img {
      object-position: top;
    }
  }
  &.img-fhw__align-bottom {
    img {
      object-position: bottom;
    }
  }
  &.img-fhw__align-left {
    img {
      object-position: left;
    }
  }
  &.img-fhw__align-right {
    img {
      object-position: right;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
}

.t-base__pd {
  padding: var(--space-3xl) 0;
}

.t-base__no-pd-t {
  padding: 0 0 var(--space-3xl);
}

.t-base__no-pd-t--on-tab-no {
  padding: 0 0 var(--space-3xl);
}

.t-base__no-pd-b {
  padding: var(--space-3xl) 0 0;
}

.t-base__no-pd-b--on-tab-yes-tb {
  padding: var(--space-3xl) 0 0;
}

.t-base--card__pd {
  padding: var(--space-xs);
}

.t-base--card__pd-m {
  padding: var(--space-m);
}

.t-flex--align-center {
  display: flex;
  align-items: center;
}

.t-flex--al-ju-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;

  &.p-align-right {
    right: 0;
  }

  &.p-align-center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.p-align-right {
    right: 0;
  }

  &.p-align-top {
    top: 0;
  }
}

// Max width
.mxw-1100px {
  max-width: 1000px;
}
.mxw-1050px {
  max-width: 950px;
}
.mxw-1000px {
  max-width: 1000px;
}
.mxw-950px {
  max-width: 950px;
}
.mxw-900px {
  max-width: 900px;
}
.mxw-850px {
  max-width: 850px;
}
.mxw-800px {
  max-width: 800px;
}
.mxw-750px {
  max-width: 750px;
}
.mxw-700px {
  max-width: 700px;
}
.mxw-650px {
  max-width: 650px;
}
.mxw-600px {
  max-width: 600px;
}
.mxw-550px {
  max-width: 550px;
}
.mxw-500px {
  max-width: 500px;
}
.mxw-450px {
  max-width: 450px;
}
.mxw-400px {
  max-width: 400px;
}
.mxw-350px {
  max-width: 350px;
}
.mxw-300px {
  max-width: 300px;
}
.mxw-250px {
  max-width: 250px;
}
.mxw-200px {
  max-width: 200px;
}
.mxw-150px {
  max-width: 150px;
}
.mxw-100px {
  max-width: 100px;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

/****** Others *******/
.bsd-parallax {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.link-w-arrow:hover::after {
  transform: translateX(6px);
}

.link-w-arrow::after {
  content: "\f061";
  font-family: "Font Awesome\ 6 Solid";
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}

/**************
Responsive
***************/

/******  Desktop 1200 | __on-xl *******/
@include desktop-1200 {
  .hide__on-xl {
    display: none !important;
  }

  // Max width
  .mxw-1100px__on-xl {
    max-width: 1000px;
  }
  .mxw-1050px__on-xl {
    max-width: 950px;
  }
  .mxw-1000px__on-xl {
    max-width: 1000px;
  }
  .mxw-950px__on-xl {
    max-width: 950px;
  }
  .mxw-900px__on-xl {
    max-width: 900px;
  }
  .mxw-850px__on-xl {
    max-width: 850px;
  }
  .mxw-800px__on-xl {
    max-width: 800px;
  }
  .mxw-750px__on-xl {
    max-width: 750px;
  }
  .mxw-700px__on-xl {
    max-width: 700px;
  }
  .mxw-650px__on-xl {
    max-width: 650px;
  }
  .mxw-600px__on-xl {
    max-width: 600px;
  }
  .mxw-550px__on-xl {
    max-width: 550px;
  }
  .mxw-500px__on-xl {
    max-width: 500px;
  }
  .mxw-450px__on-xl {
    max-width: 450px;
  }
  .mxw-400px__on-xl {
    max-width: 400px;
  }
  .mxw-350px__on-xl {
    max-width: 350px;
  }
  .mxw-300px__on-xl {
    max-width: 300px;
  }
  .mxw-250px__on-xl {
    max-width: 250px;
  }
  .mxw-200px__on-xl {
    max-width: 200px;
  }
  .mxw-150px__on-xl {
    max-width: 150px;
  }
  .mxw-100px__on-xl {
    max-width: 100px;
  }

  .w-50__on-xl {
    width: 50%;
  }
  
  .w-55__on-xl {
    width: 55%;
  }
  
  .w-60__on-xl {
    width: 60%;
  }
  
  .w-65__on-xl {
    width: 65%;
  }
  
  .w-70__on-xl {
    width: 70%;
  }
  
  .w-75__on-xl {
    width: 75%;
  }
  
  .w-80__on-xl {
    width: 80%;
  }
  
  .w-85__on-xl {
    width: 85%;
  }
  
  .w-90__on-xl {
    width: 90%;
  }
  
  .w-95__on-xl {
    width: 95%;
  }

  .w-100__on-xl {
    width: 100%;
  }
}

/******  Tablet 992 | __on-l *******/
@include tablet-992 {
  .hide__on-l {
    display: none;
  }

  .t-base__no-pd-t--on-tab-no {
    padding: 0;
  }

  .t-base__no-pd-b--on-tab-yes-tb {
    padding: var(--space-3xl) 0;
  }

  // Max width
  .mxw-1100px__on-l {
    max-width: 1000px;
  }
  .mxw-1050px__on-l {
    max-width: 950px;
  }
  .mxw-1000px__on-l {
    max-width: 1000px;
  }
  .mxw-950px__on-l {
    max-width: 950px;
  }
  .mxw-900px__on-l {
    max-width: 900px;
  }
  .mxw-850px__on-l {
    max-width: 850px;
  }
  .mxw-800px__on-l {
    max-width: 800px;
  }
  .mxw-750px__on-l {
    max-width: 750px;
  }
  .mxw-700px__on-l {
    max-width: 700px;
  }
  .mxw-650px__on-l {
    max-width: 650px;
  }
  .mxw-600px__on-l {
    max-width: 600px;
  }
  .mxw-550px__on-l {
    max-width: 550px;
  }
  .mxw-500px__on-l {
    max-width: 500px;
  }
  .mxw-450px__on-l {
    max-width: 450px;
  }
  .mxw-400px__on-l {
    max-width: 400px;
  }
  .mxw-350px__on-l {
    max-width: 350px;
  }
  .mxw-300px__on-l {
    max-width: 300px;
  }
  .mxw-250px__on-l {
    max-width: 250px;
  }
  .mxw-200px__on-l {
    max-width: 200px;
  }
  .mxw-150px__on-l {
    max-width: 150px;
  }
  .mxw-100px__on-l {
    max-width: 100px;
  }

  .w-50__on-l {
    width: 50%;
  }
  
  .w-55__on-l {
    width: 55%;
  }
  
  .w-60__on-l {
    width: 60%;
  }
  
  .w-65__on-l {
    width: 65%;
  }
  
  .w-70__on-l {
    width: 70%;
  }
  
  .w-75__on-l {
    width: 75%;
  }
  
  .w-80__on-l {
    width: 80%;
  }
  
  .w-85__on-l {
    width: 85%;
  }
  
  .w-90__on-l {
    width: 90%;
  }
  
  .w-95__on-l {
    width: 95%;
  }

  .w-100__on-l {
    width: 100%;
  }
}

/******  Tablet 767 | __on-m *******/
@include tablet-767 {
  .hide__on-m {
    display: none;
  }

  // Max width
  .mxw-1100px__on-m {
    max-width: 1000px;
  }
  .mxw-1050px__on-m {
    max-width: 950px;
  }
  .mxw-1000px__on-m {
    max-width: 1000px;
  }
  .mxw-950px__on-m {
    max-width: 950px;
  }
  .mxw-900px__on-m {
    max-width: 900px;
  }
  .mxw-850px__on-m {
    max-width: 850px;
  }
  .mxw-800px__on-m {
    max-width: 800px;
  }
  .mxw-750px__on-m {
    max-width: 750px;
  }
  .mxw-700px__on-m {
    max-width: 700px;
  }
  .mxw-650px__on-m {
    max-width: 650px;
  }
  .mxw-600px__on-m {
    max-width: 600px;
  }
  .mxw-550px__on-m {
    max-width: 550px;
  }
  .mxw-500px__on-m {
    max-width: 500px;
  }
  .mxw-450px__on-m {
    max-width: 450px;
  }
  .mxw-400px__on-m {
    max-width: 400px;
  }
  .mxw-350px__on-m {
    max-width: 350px;
  }
  .mxw-300px__on-m {
    max-width: 300px;
  }
  .mxw-250px__on-m {
    max-width: 250px;
  }
  .mxw-200px__on-m {
    max-width: 200px;
  }
  .mxw-150px__on-m {
    max-width: 150px;
  }
  .mxw-100px__on-m {
    max-width: 100px;
  }

  .w-50__on-m {
    width: 50%;
  }
  
  .w-55__on-m {
    width: 55%;
  }
  
  .w-60__on-m {
    width: 60%;
  }
  
  .w-65__on-m {
    width: 65%;
  }
  
  .w-70__on-m {
    width: 70%;
  }
  
  .w-75__on-m {
    width: 75%;
  }
  
  .w-80__on-m {
    width: 80%;
  }
  
  .w-85__on-m {
    width: 85%;
  }
  
  .w-90__on-m {
    width: 90%;
  }
  
  .w-95__on-m {
    width: 95%;
  }

  .w-100__on-m {
    width: 100%;
  }
}

/******  Mobile 440 | __on-s *******/
@include mobile-440 {
  // Max width
  .mxw-1100px__on-s {
    max-width: 1000px;
  }
  .mxw-1050px__on-s {
    max-width: 950px;
  }
  .mxw-1000px__on-s {
    max-width: 1000px;
  }
  .mxw-950px__on-s {
    max-width: 950px;
  }
  .mxw-900px__on-s {
    max-width: 900px;
  }
  .mxw-850px__on-s {
    max-width: 850px;
  }
  .mxw-800px__on-s {
    max-width: 800px;
  }
  .mxw-750px__on-s {
    max-width: 750px;
  }
  .mxw-700px__on-s {
    max-width: 700px;
  }
  .mxw-650px__on-s {
    max-width: 650px;
  }
  .mxw-600px__on-s {
    max-width: 600px;
  }
  .mxw-550px__on-s {
    max-width: 550px;
  }
  .mxw-500px__on-s {
    max-width: 500px;
  }
  .mxw-450px {
    max-width: 450px;
  }
  .mxw-400px__on-s {
    max-width: 400px;
  }
  .mxw-350px__on-s {
    max-width: 350px;
  }
  .mxw-300px__on-s {
    max-width: 300px;
  }
  .mxw-250px__on-s {
    max-width: 250px;
  }
  .mxw-200px__on-s {
    max-width: 200px;
  }
  .mxw-150px__on-s {
    max-width: 150px;
  }
  .mxw-100px__on-s {
    max-width: 100px;
  }

  .w-50__on-s {
    width: 50%;
  }
  
  .w-55__on-s {
    width: 55%;
  }
  
  .w-60__on-s {
    width: 60%;
  }
  
  .w-65__on-s {
    width: 65%;
  }
  
  .w-70__on-s {
    width: 70%;
  }
  
  .w-75__on-s {
    width: 75%;
  }
  
  .w-80__on-s {
    width: 80%;
  }
  
  .w-85__on-s {
    width: 85%;
  }
  
  .w-90__on-s {
    width: 90%;
  }
  
  .w-95__on-s {
    width: 95%;
  }

  .w-100__on-s {
    width: 100%;
  }

  .hide__on-s {
    display: none;
  }
}
