/**************
Hero Area
***************/
:root {
  // Units
  --ha-100vh-w-header-offset__mxh: 980px; // Change to: None | Custom PX
  --ha-c-height: 920px;
  --ha-c-height__on-l: 920px;
  --ha-pd-bottom: var(--space-6xl);
  --ha-pd-bottom__on-l: ;

  // Hero Main Wrap Classes
  --ha-h-v1: 700px; // 980px | 960px | 950px | 940px
  --ha-h-v2: 900px;

  --ha-pd-base__on-l: var(--space-3xl);
  --ha-m-wrp-r-gap__on-l: var(--space-2xl);
  --ha-m-wrp-r-gap-c1__on-l: var(--space-3xl);
}

// Hero Area
.hero-area {
  height: calc(100vh - var(--ht-min-height) - var(--hm-height-desktop));
  max-height: var(--ha-100vh-w-header-offset__mxh);

  &.ha--slider {
    // height: 100%;
  }

  &.ha--100vh {
    height: 100vh;
  }

  &.ha--100 {
    height: 100%;
  }

  &.ha--mxh-100 {
    max-height: 100%;
  }

  &.ha--h-custom {
    height: var(--ha-c-height);
  }

  &.ha--h-v1 {
    height: var(--ha-h-v1);
  }

  &.ha--h-v2 {
    height: var(--ha-h-v1);
  }

  &.ha--w-form-adj {
    height: 100%;
    max-height: 100%;

    .hero-area--main-wrap {
      padding: var(--space-s) 0;
    }
  }

  &.ha--w-stacked-img {
    height: 100%;
    max-height: 100%;
  }
}

// .hero-area--main-wrap-bg
.hero-area--main-wrap {
  background-repeat: no-repeat;
  height: 100%;
  justify-content: center;

  &.ha--align-top {
    justify-content: start;

    .hero-area--main-inner-row {
      align-items: start;
    }
  }

  &.ha--align-bottom {
    justify-content: end;

    .hero-area--main-inner-row {
      align-items: end;
    }
  }

  &.ha--parallax-bg {
    background-attachment: fixed;
  }
}

/* Hero Inner Row */
.hero-area--main-inner-row {
  align-items: center;

  &.ha--2-col-even {
    flex-wrap: wrap;
    flex-direction: row;

    & > div {
      width: 50%;
    }
  }
}

/* Hero Column */
.hero-area--column {
  &.ha--col--align-right {
    align-items: end;
    text-align: right;

    div {
      margin-left: auto;
    }
  }

  &.ha--col--align-center {
    align-items: middle;
    text-align: center;

    div {
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }
  }

  &.ha--col--align-middle {
    justify-content: center;
    height: 100%;
  }

  &.ha--col--align-bottom {
    justify-content: end;
    height: 100%;
  }
}

/* Hero Content */
.hero-area--content {
  &.ha--cnt--cf-layout-v1 {
    background-color: rgba(0, 0, 0, 0.465);
    padding: var(--space-s) var(--space-m);
    max-width: 500px;

    .ha--cnt--cf-layout-v1__head {
      margin-bottom: var(--space-xs);
    }

    h3 {
      font-weight: 600;
      margin-bottom: var(--space-8xs);
    }
  }

  &.ha--cnt--cf-layout-v2 {
    background-color: #ffffff;
    border: 1px solid #424242;
    padding: var(--space-s) var(--space-m);
    max-width: 500px;

    .ha--cnt--cf-layout-v1__head {
      margin-bottom: var(--space-xs);
    }

    h3 {
      font-weight: 600;
      margin-bottom: var(--space-8xs);
    }
  }

  &.ha--cnt--img-base {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &.ha--cnt--img-w-100 {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.hero-area--content__title {
  /* font-size: var(--text-xl); */
  text-transform: uppercase;
  margin-bottom: var(--space-s);
}

.hero-area--content__subtitle {
  /* font-size: var(--text-xl); */
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: var(--space-2xs);
}

.hero-area--content__text {
  margin-bottom: var(--space-l);
}

.hero-area--content-multi-btn {
  display: flex;
}

// Slide CSS **** UPDATE THIS ONCE Transparent Header BG is used ****
// .hero-area {
//   &.ha--ht-offset {
//     .splide__slide {
//       // Slider Nested
//       padding-top: 156px; /* Adjust Based on the transparent Header */
//     }
//   }

//   .splide__slide {
//     // Slider Nested
//     padding-bottom: 50px;
//     min-height: 920px;
//   }
// }

/********* 
Responsive
*********/

/******  Desktop *******/
@include desktop-1200 {
  .hero-area .splide__slide {
    min-height: auto;
  }

  .hero-area--column {
    &.ha--align-right__on-xl {
      align-items: end;
      text-align: right;

      div {
        margin-left: auto;
      }
    }

    &.ha--align-center__on-xl {
      align-items: middle;
      text-align: center;

      div {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
      }
    }

    &.ha--align-middle__on-xl {
      justify-content: center;
      height: 100%;
    }

    &.ha--align-bottom__on-xl {
      justify-content: end;
      height: 100%;
    }
  }

  /* Hero Content */
  .hero-area--content {
    &.ha--c-cf-layout-v1 {
      max-width: 430px;
      padding: var(--space-2xs) var(--space-xs);
    }

    &.ha--c-cf-layout-v2 {
      max-width: 430px;
      padding: var(--space-2xs) var(--space-xs);
    }

    &.ha--cnt--img-base {
      img {
        // width: 430px;
      }
    }
  }
}

/******  Tablet 992 *******/
@include tablet-992 {
  .hero-area .splide__slide {
    min-height: auto;
  }
  
  .hero-area {
    height: 100%;
    max-height: 100%;

    &.ha--w-form-adj {
      height: 100%;
      max-height: 100%;
  
      .hero-area--main-wrap {
        padding: var(--ha-pd-base__on-l) 0;
      }
    }
  }

  .hero-area--main-wrap {
    padding: var(--ha-pd-base__on-l) 0;

    &.ha--no-pd__on-l {
      padding: 0;
    }
  }

  .hero-area--main-inner-row {
    row-gap: var(--ha-m-wrp-r-gap__on-l);

    &.ha--2-col-even {
      & > div {
        width: 100%;
      }
    }
  }

  .hero-area--column {
    &.ha--col--align-center__on-l {
      align-items: middle;
      text-align: center;

      div {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
      }
    }

    &.ha--col--align-right__on-l {
      align-items: end;
      text-align: right;

      div {
        margin-left: auto;
      }
    }

    &.ha--col--align-middle__on-l {
      justify-content: center;
      height: 100%;
    }

    &.ha--col--align-bottom__on-l {
      justify-content: end;
      height: 100%;
    }
  }
}

/******  Tablet 767 *******/
@include tablet-767 {
  .hero-area--column {
    &.ha--col--align-center__on-m {
      align-items: middle;
      text-align: center;

      div {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
      }
    }

    &.ha--col--align-right__on-m {
      align-items: end;
      text-align: right;

      div {
        margin-left: auto;
      }
    }

    &.ha--col--align-middle__on-m {
      justify-content: center;
      height: 100%;
    }

    &.ha--col--align-bottom__on-m {
      justify-content: end;
      height: 100%;
    }
  }
}

/******  Mobile 440 *******/
@include mobile-440 {
  .hero-area--column {
    &.ha--col--align-right__on-s {
      align-items: end;
      text-align: right;

      div {
        margin-left: auto;
      }
    }

    &.ha--col--align-center__on-s {
      align-items: middle;
      text-align: center;

      div {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
      }
    }

    &.ha--col--align-right__on-s {
      align-items: end;
      text-align: right;

      div {
        margin-left: auto;
      }
    }

    &.ha--col--align-middle__on-s {
      justify-content: center;
      height: 100%;
    }

    &.ha--col--align-bottom__on-s {
      justify-content: end;
      height: 100%;
    }
  }
}
