/**************
   UI 
  ***************/
:root {
  --btn--border-width: 2px;

  --primary-btn-font-size: var(--text-m);
  --primary-btn-font-weight: 700;

  // Primary button color
  --primary-btn-color: #ffffff;
  --primary-btn-color__hover: var(--primary); // Options: --primary__hover | Transparent
  --primary-btn-bg-color: var(--primary);
  --primary-btn-bg-color__hover: transparent;

  // Alt button color
  --alt-btn-color: #ffffff;
  --alt-btn-color__hover: var(--secondary); // Options: --primary__hover | Transparent
  --alt-btn-bg-color: var(--secondary);
  --alt-btn-bg-color__hover: transparent;

  // Padding
  --primary-btn-pd-tb: var(--space-4xs);
  --primary-btn-pd-lr: var(--space-xs);
}

/****** Button *******/
.bricks-button {
  font-size: var(--primary-btn-font-size);
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-color);
  font-weight: var(--primary-btn-font-weight);
  padding-top: var(--primary-btn-pd-tb);
  padding-right: var(--primary-btn-pd-lr);
  padding-bottom: var(--primary-btn-pd-tb);
  padding-left: var(--primary-btn-pd-lr);
  border-width: var(--btn--border-width);
  border-style: solid;
  border-color: var(--primary-btn-bg-color);

  letter-spacing: 0px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: var(--primary-btn-color__hover);
    background-color: var(--primary-btn-bg-color__hover);
  }

  &.btn--alt-color {
    color: var(--alt-btn-color);
    background-color: var(--alt-btn-bg-color);
    border-color: var(--alt-btn-bg-color);
    

    &:hover {
      color: var(--alt-btn-color__hover);
      background-color: var(--alt-btn-bg-color__hover);
    }
  }

  &.btn--hvr-outline-light {
    &:hover {
      color: #fff;
      border-color: #ffffff;
      background-color: transparent;
    }
  }
}
