/**************
 Countdown
***************/

/****** Countdown V1 *******/


/****** Template Sub Title *******/


/********* 
Responsive
*********/

/******  Desktop 1470 *******/
@include desktop-1470 {

}

/******  Desktop 1366 *******/
@include desktop-1366 {

}

/******  Desktop 1200 *******/
@include desktop-1200 {

}

/******  Tablet 992 *******/
@include tablet-992 {

}

/******  Tablet 992 *******/
@include tablet-767 {

}

/******  Mobile 480 *******/
@include mobile-480 {

}

/******  Mobile 414 *******/
@include mobile-414 {

}
