/**************
   Forms 
  ***************/
/****** Forms *******/
.bsd-form {
  height: 100%;
  display: flex;
  align-items: center;

  .wpcf7 {
    width: 100%;
  }

  // Form with Background Color Theme (e.g. form button set to outline/Alt )
  &.bf--cf7-bg-theme-color {
    .form-btn-wrap {
      .bricks-button {
        border-color: #ffffff;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  /* Form helper class */
  // Alignment - Vertical
  &.bf--align-top {
    align-items: start;
  }

  &.bf--align-bottom {
    align-items: end;
  }

  &.bf--align-center {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  &.bf--align-right {
    margin-left: auto;
    justify-content: end;
  }

  // Form Number of column class
  &.bf--nl--1-col {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &.bf--nl--2-col {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;

    .nl-2-fields {
      display: flex;
      flex-wrap: wrap;
      // column-gap: var(--space-2xs);
      justify-content: space-between;

      & > div:nth-child(1),
      & > div:nth-child(2) {
        width: calc(50% - var(--space-6xs));
      }

      & > div:nth-child(3) {
        width: 100%;
      }

      .form-btn-wrap {
        margin-top: var(--space-5xs);
      }
    }

    .nl-3-fields {
      display: flex;
      flex-wrap: wrap;
      // column-gap: var(--space-2xs);
      justify-content: space-between;

      & > div:nth-child(1),
      & > div:nth-child(2) {
        width: calc(50% - var(--space-6xs));
      }

      & > div:nth-child(3) {
        width: 100%;
      }
      & > div:nth-child(4) {
        width: 100%;
      }

      .form-btn-wrap {
        margin-top: var(--space-5xs);
      }
    }
  }

  &.bf--nl-cta-form {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }

  // Button Alignment
  &.bf--btn-cf--align-left {
    .form-btn-wrap {
      text-align: left;
    }
  }

  &.bf--btn-cf--align-center {
    .form-btn-wrap {
      text-align: center;
    }
  }

  &.bf--btn-cf--align-right {
    .form-btn-wrap {
      text-align: right;
    }
  }

  &.bf--cf-w-500 {
    width: 500px;
  }

  &.bf--cf-1-col {
    .form-row {
      &.bf-fr--2-col,
      &.bf-fr--3-col {
        flex-wrap: wrap;

        & > div {
          width: 100%;
        }
      }
    }
  }

  &.bf--label-none {
    label {
      display: none;
    }
  }

  &.bf--label-light {
    .form-group {
      label {
        color: #ffffff;
      }
    }

    .wpcf7-response-output {
      color: #ffffff;
    }
  }

  &.bf--border-none {
    input:not(input[type="submit"]):not(input[type="file"]),
    select,
    textarea {
      border: none;
    }
  }

  &.bf--border-rounded {
    input:not(input[type="submit"]):not(input[type="file"]),
    select,
    textarea {
      border-radius: 5px;
    }
  }

  // Child Classes
  .form-row {
    display: flex;

    &.bf-fr--2-col {
      column-gap: var(--space-3xs);

      & > div {
        width: 50%;
      }
    }

    &.bf-fr--3-col {
      column-gap: var(--space-3xs);

      & > div {
        width: 33.33%;
      }
    }

    &.bf-fr--3-col-nl {
      column-gap: var(--space-3xs);
      align-items: end;

      & > div {
        // width: 50%;
        margin-bottom: 0;
      }

      .form-btn-wrap {
        position: relative;

        .bricks-button {
          height: 50px;
        }

        .wpcf7-spinner {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin: 0;
          top: 15px;
        }
      }
    }
  }

  .nl-base {
    display: block;

    .form-btn-wrap {
      margin-top: var(--space-s);
    }
  }

  .form-group {
    padding-bottom: 0;
    width: 100%;
    margin-bottom: var(--space-3xs);

    p {
      margin: 0;
    }

    label {
      color: var(--text-body);
      margin-bottom: var(--space-6xs);

      span {
        color: #dc3545;
      }
    }

    &.bf-fm--label-light {
      label {
        color: #ffffff;
      }
    }

    // Contact Fields Design
    input:not(input[type="submit"]):not(input[type="file"]) {
      // border: 1px solid var(--bg-medium-gray);
      // background-color: #fff;
      // font-size: var(--text-m);
      /* border-radius: 3px; */
      // outline: none;
      // margin-bottom: 0;
      color: #000;
      width: 100%;
      padding: 12px 14px;
      height: 50px;
      outline: none;
      text-align: left !important;
    }

    select {
      background-color: #fff;
      height: 50px;
    }

    textarea {
      // border: 1px solid var(--bg-medium-gray);
      // background-color: #fff;
      // color: #000;
      /* border-radius: 3px; */
      // outline: none;
      // margin-bottom: 0;
      // font-size: var(--text-m);
      // outline: none;
      // text-align: left;
      // width: 100%;
      padding: 12px 14px;
      resize: none;
      height: 130px;
    }

    input:not(input[type="submit"]):not(input[type="file"]),
    textarea,
    select {
      width: 100%;
      /* border-radius: 3px; */
      margin-bottom: 0;
      outline: none;
      border: 1px solid var(--bg-medium-gray);
      background-color: #fff;
      color: #000;
      font-size: var(--text-m);
      text-align: left;
    }
  }

  .form-btn-wrap {
    p {
      margin-bottom: 0;
    }

    position: relative;

    .wpcf7-spinner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // left: 50%;
      // transform: translateX(-50%);
      // margin: 0;
    }
  }
}

.form-newsletter {
}

.form-newsletter-inline {
  flex-wrap: nowrap;
  column-gap: var(--space-3xs);

  &.fni-single-field {
    max-width: 600px;
  }

  .submit-button-wrapper {
    width: auto;
  }
}

/********* 
Responsive
*********/

/******  Tablet 767 *******/
@include tablet-767 {
  .bsd-form {
    .form-row {
      flex-wrap: wrap;

      &.bf-fr--2-col {
        column-gap: 0;

        & > div {
          width: 100%;
        }
      }

      &.bf-fr--3-col {
        column-gap: 0;

        & > div {
          width: 100%;
        }
      }
    }
  }

  .form-newsletter-inline {
    flex-wrap: wrap;
    row-gap: var(--space-3xs);
    max-width: 480px;
    justify-content: center;
  }
}

/******  Mobile 480 *******/
@include mobile-480 {
  .bsd-form input:not(input[type="submit"]):not(input[type="file"]) {
    padding: 10px 14px;
    height: 42px;
  }
}
